RFID_Menu_mongo_SMS_Email_Buzzer_UI_flow.txt
[{"id":"e81feff7.ae5c4","type":"ui_form","z":"8b54737c.85187","name":"","label":"Choose Items","group":"270b10c0.3032c","order":0,"width":0,"height":0,"options":[{"label":"Chicken Biriyani - 100","value":"Chicken_Biriyani","type":"number","required":false},{"label":"Mutton Biriyani - 120","value":"Mutton_Biriyani","type":"number","required":false},{"label":"Chole Vatura - 50","value":"Chole_Vatura","type":"number","required":false},{"label":"Vej Polau - 60","value":"Vej_Polau","type":"number","required":false},{"label":"Sugar Cane - 20","value":"Sugar_Cane","type":"number","required":false},{"label":"Cornetto Choco - 40","value":"Cornetto_Choco","type":"number","required":false}],"formValue":{"Chicken_Biriyani":"","Mutton_Biriyani":"","Chole_Vatura":"","Vej_Polau":"","Sugar_Cane":"","Cornetto_Choco":""},"payload":"","topic":"","x":106,"y":71,"wires":[["fa62472b.e24a28"]]},{"id":"93a50fbe.b452d","type":"debug","z":"8b54737c.85187","name":"","active":true,"console":"false","complete":"true","x":594,"y":31,"wires":[]},{"id":"fa62472b.e24a28","type":"function","z":"8b54737c.85187","name":"Calculate Bill","func":"var Price_List = {\n    \"Chicken_Biriyani\": 100,\n    \"Mutton_Biriyani\": 120,\n    \"Chole_Vatura\": 50,\n    \"Vej_Polau\": 60,\n    \"Sugar_Cane\": 20,\n    \"Cornetto_Choco\": 40\n}\n\nvar total = 0;\nvar billData = msg.payload;\n\nfor(var key in billData){\n\tif(billData[key]){\n\t    total += Price_List[key] * billData[key]\n\t}\n}\nglobal.set(\"totalBill\", total);\n\nmsg.payload = {};\nmsg.payload.total = total;\nmsg.payload.ImgURL = \"jhagfa\";\nreturn msg;","outputs":1,"noerr":0,"x":335.5,"y":71,"wires":[["93a50fbe.b452d","502083cf.2af0bc"]]},{"id":"800b0bfb.85dbb8","type":"daemon","z":"8b54737c.85187","command":"python","args":"-u /home/pi/rfidreader.py","cr":true,"redo":true,"op":"string","name":"RFIDReader","x":92.5,"y":197,"wires":[["c8748d89.45496"],[],[]]},{"id":"c8748d89.45496","type":"function","z":"8b54737c.85187","name":"Get Card ID","func":"msg.payload = JSON.parse(msg.payload);\nmsg.payload = {\"CardId\": msg.payload.cardUID}\n\nreturn msg;","outputs":1,"noerr":0,"x":96.50003051757812,"y":324.5,"wires":[["24c71bb9.069994","4aae2602.37b728","63706366.00d2dc","60f03361.97dbfc"]]},{"id":"4aae2602.37b728","type":"debug","z":"8b54737c.85187","name":"","active":true,"console":"false","complete":"false","x":636.5,"y":406.70001220703125,"wires":[]},{"id":"24c71bb9.069994","type":"mongodb in","z":"8b54737c.85187","mongodb":"30e5f113.9389de","name":"Mongo Opern: Find User Data","collection":"myCollection","operation":"find","x":163.5,"y":405.5,"wires":[["4aae2602.37b728","3815023.acb38fe","296946a4.86050a"]]},{"id":"3815023.acb38fe","type":"function","z":"8b54737c.85187","name":"Deduct Price","func":"var userData = msg.payload[0];\n\n// Get the data from global context.\nvar deductedPrice = global.get('totalBill') || 0;\n\n\n// Deduct biil amount form user's account\nuserData.Balance = userData.Balance - deductedPrice;\nmsg.payload = userData;\nmsg.query = {\"CardId\": userData.CardId};\nmsg.deductedPrice = deductedPrice;\n\n// reset the global total bill value\nglobal.set('totalBill', 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":107.5,"y":502.5,"wires":[["e6c84de2.ac903","b87613cf.c8cf4","e0df93a0.ddbc1","352bf963.eb47b6"]]},{"id":"e6c84de2.ac903","type":"mongodb out","z":"8b54737c.85187","mongodb":"30e5f113.9389de","name":"Mongo Oprn: Update Users Balance","collection":"myCollection","payonly":false,"upsert":true,"multi":false,"operation":"update","x":541.5,"y":500.5,"wires":[]},{"id":"f2330057.a4034","type":"debug","z":"8b54737c.85187","name":"Log Message Details","active":true,"console":"false","complete":"true","x":654.5,"y":597.5,"wires":[]},{"id":"821d816a.f4efa","type":"sms","z":"8b54737c.85187","name":"Send sms","message":"","numbers":"","throttle":1000,"twilio":"9959db8b.49e1d8","x":377.5,"y":597.5000152587891,"wires":[["f2330057.a4034"]]},{"id":"b87613cf.c8cf4","type":"function","z":"8b54737c.85187","name":"Genarate Message","func":"var userData = msg.payload;\nmsg.topic = userData.Phone;\nmsg.payload = \"Hi \"+ userData.Name +\"!!!  You have just paid Rs. \"+ msg.deductedPrice + \n\" to Health Bar using Sap-Pay!!! Your remaining balance is Rs. \" + userData.Balance + \"!!!\"\n\nreturn msg;","outputs":1,"noerr":0,"x":134.5,"y":596.5,"wires":[["821d816a.f4efa"]]},{"id":"63706366.00d2dc","type":"function","z":"8b54737c.85187","name":"Buzzer On","func":"msg.payload  = 1;\nreturn msg;","outputs":1,"noerr":0,"x":338.5,"y":189.50001525878906,"wires":[["12b418b2.332327"]]},{"id":"12b418b2.332327","type":"rpi-gpio out","z":"8b54737c.85187","name":"Buzzer Player","pin":"11","set":true,"level":"0","freq":"","out":"out","x":640.5,"y":189.50001525878906,"wires":[]},{"id":"60f03361.97dbfc","type":"delay","z":"8b54737c.85187","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":351.5,"y":320.5,"wires":[["3f491c1d.393ba4"]]},{"id":"3f491c1d.393ba4","type":"function","z":"8b54737c.85187","name":"Buzzer Off","func":"msg.payload  = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":567.5,"y":321.5,"wires":[["12b418b2.332327"]]},{"id":"e0df93a0.ddbc1","type":"function","z":"8b54737c.85187","name":"Genarate Mail","func":"var userData = msg.payload;\nmsg.to = userData.MailID;\nmsg.topic = \"Sap-Pay Bill Payment\";\nmsg.payload = \"Hi \"+ userData.Name +\"!!!  You have just paid Rs. \"+ msg.deductedPrice + \n\" to Health Bar using Sap-Pay!!! Your remaining balance is Rs. \" + userData.Balance + \"!!!\"\n\nreturn msg;","outputs":1,"noerr":0,"x":114.5,"y":680,"wires":[["9561230c.bad43"]]},{"id":"502083cf.2af0bc","type":"ui_template","z":"8b54737c.85187","group":"270b10c0.3032c","name":"","order":0,"width":0,"height":0,"format":"<div>\n    <span>Total:  </span>\n    <span ng-bind=\"msg.payload.total\"></span>\n</div>\n<div>\n    <img ng-src=\"{{msg.payload.ImgURL}}\"/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":603,"y":77,"wires":[[]]},{"id":"352bf963.eb47b6","type":"function","z":"8b54737c.85187","name":"Reset Billing Total","func":"msg.payload.total = 0;\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":459,"wires":[["502083cf.2af0bc"]]},{"id":"296946a4.86050a","type":"function","z":"8b54737c.85187","name":"Get User Image","func":"var payload = msg.payload[0];\nmsg.payload = {};\nmsg.payload.ImgURL = payload.ImgURL;\nreturn msg;","outputs":1,"noerr":0,"x":349,"y":121,"wires":[["502083cf.2af0bc"]]},{"id":"9561230c.bad43","type":"e-mail","z":"8b54737c.85187","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"Send Email","x":392.5,"y":681,"wires":[]},{"id":"270b10c0.3032c","type":"ui_group","z":"","name":"Menu","tab":"43bc6629.4d6f58","order":1,"disp":true,"width":"10"},{"id":"30e5f113.9389de","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"myDb","name":""},{"id":"9959db8b.49e1d8","type":"twilioConfig","z":"","name":"twilioConfig"},{"id":"43bc6629.4d6f58","type":"ui_tab","z":"","name":"BillingTab","icon":"dashboard","order":1}]